# Midterm Exam Big Data 

## FP-Growth

- Name: Agustinus Aldi Irawan Rahardja
- Student ID: 05111942000010
- Class: Big Data A
- Lecturer: Abdul Munif, S.Kom., M.Sc.

### Comments
Stuck on splitting the data, cannot read customer
But the general idea is to work with the example from assignment

In [9]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=8884148877ed494a51e69fbfbb34e407f972f4d04d2b1c98cdcc1a35f6b983fa
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [12]:
%%capture
!sudo apt-get update --fix-missing

!apt-get install openjdk-8-jdk-headless -qq > /dev/null

!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
#!wget -q https://downloads.apache.org/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

!mv spark-3.0.0-bin-hadoop3.2.tgz sparkkk
!tar xf sparkkk
!pip install -q findspark

In [1]:
# Sets up the environment variables for Java and Spark, initializes the findspark library
# Creates a new SparkSession for a PySpark application named 'fpgrowth'.
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName('marketbasket') \
    .getOrCreate()

spark

In [2]:
# To be able to use your data stored in your Google Drive you first need to mount your Google Drive so you can load and save files to it. 
from google.colab import drive
drive.mount('/content/gdrive')
#You'll need to put in a token which Google will generate for you as soon as you click on the link

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [5]:
import pandas as pd

# Read the Excel file located in your Google Drive
data = pd.read_excel('/content/gdrive/My Drive/BD_Midterm/market-basket.xslx.xlsx')
data.head()

,BillNo,Itemname,Customer,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,17850.0,NaN,NaN,NaN,NaN,NaN
1,536365,WHITE METAL LANTERN,17850.0,NaN,NaN,NaN,NaN,NaN
2,536365,CREAM CUPID HEARTS COAT HANGER,17850.0,NaN,NaN,NaN,NaN,NaN
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,17850.0,NaN,NaN,NaN,NaN,NaN
4,536365,RED WOOLLY HOTTIE WHITE HEART.,17850.0,NaN,NaN,NaN,NaN,NaN

In [6]:
# Select specific columns ('Customer', 'SalesTransactionID', 'SalesItem') from the original DataFrame (data)
df1 = data[['BillNo','Itemname','Customer']]
df1.head()

KeyError: ignored

In [14]:
df = spark.read.option("header", True).csv("/content/gdrive/My Drive/Market/market-basket.csv")
df.show()

+------------------------------------------------------+
|BillNo;Itemname;Quantity;Date;Price;CustomerID;Country|
+------------------------------------------------------+
|                                  536365;WHITE HANG...|
|                                  536365;WHITE META...|
|                                  536365;CREAM CUPI...|
|                                  536365;KNITTED UN...|
|                                  536365;RED WOOLLY...|
|                                  536365;SET 7 BABU...|
|                                  536365;GLASS STAR...|
|                                  536366;HAND WARME...|
|                                  536366;HAND WARME...|
|                                  536367;ASSORTED C...|
|                                  536367;POPPY'S PL...|
|                                  536367;POPPY'S PL...|
|                                  536367;FELTCRAFT ...|
|                                  536367;IVORY KNIT...|
|                                  536367;BOX OF 6 A...|
|                                  536367;BOX OF VIN...|
|                                  536367;BOX OF VIN...|
|                                  536367;HOME BUILD...|
|                                  536367;LOVE BUILD...|
|                                  536367;RECIPE BOX...|
+------------------------------------------------------+
only showing top 20 rows

In [19]:
df[['BillNo', 'Itemname', 'Quantity','Date','Price','CustomerID','Country']] = df.Student_details.str.split(";", expand = True)

AttributeError: ignored

In [16]:
# Select specific columns ('Customer', 'SalesTransactionID', 'SalesItem') from the original DataFrame (data)
df1 = data[['BillNo', 'Itemname']]
df1.head()

   BillNo                             Itemname
0  536365   WHITE HANGING HEART T-LIGHT HOLDER
1  536365                  WHITE METAL LANTERN
2  536365       CREAM CUPID HEARTS COAT HANGER
3  536365  KNITTED UNION FLAG HOT WATER BOTTLE
4  536365       RED WOOLLY HOTTIE WHITE HEART.

In [18]:
df2 = data[['BillNo', 'Itemname','Customer']]
df2.head()

KeyError: ignored

In [7]:
columns = ['BillNo', 'Itemname']
data = data.reindex(columns=columns)

In [8]:
data.head()

   BillNo                             Itemname
0  536365   WHITE HANGING HEART T-LIGHT HOLDER
1  536365                  WHITE METAL LANTERN
2  536365       CREAM CUPID HEARTS COAT HANGER
3  536365  KNITTED UNION FLAG HOT WATER BOTTLE
4  536365       RED WOOLLY HOTTIE WHITE HEART.

In [23]:
import pandas as pd

# Read the Excel file located in your Google Drive
data1 = pd.read_excel('/content/gdrive/My Drive/BD_Midterm/market-basket.xlsx')
data1.head()

FileNotFoundError: ignored

In [10]:
# Get the unique values in the first column (column 0) of the DataFrame (df)
items = (data[0].unique())
items

KeyError: ignored

In [ ]:
# Create an empty list named encoded_vals to store the encoded values for each row in the DataFrame (df)
encoded_vals = []

# Define a custom function to encode the values in the DataFrame
def custom():
    for index, row in df.iterrows():
        labels = {}
        uncommons = list(set(items) - set(row))
        commons = list(set(items).intersection(row))
        for uc in uncommons:
            labels[uc] = 0
        for com in commons:
            labels[com] = 1
        encoded_vals.append(labels)

# Call the custom function to encode the values in the DataFrame (df)
custom()

# Convert the encoded_vals list into a pandas DataFrame named ohe_df
ohe_df = pd.DataFrame(encoded_vals)
print(ohe_df)

In [ ]:
# Import Library
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
# Apply the apriori algorithm on the one-hot encoded DataFrame (ohe_df) to find frequent itemsets
freq_items = apriori(ohe_df, min_support=0.006, use_colnames=True) #, verbose=1 #min_support=0.006, 
freq_items

In [ ]:
# Export the freq_items DataFrame to an Excel file named 'Export&Supportvalues.xlsx'
# This file will be saved in the current working directory
freq_items.to_excel('Export&Supportvalues.xlsx')

In [ ]:
# Generate association rules from the frequent itemsets (freq_items) using the association_rules function
# Set the metric to "confidence" and the minimum threshold to 0.006
rules = association_rules(freq_items, metric="confidence", min_threshold=0.006)
rules

In [ ]:
# creates a scatter plot using matplotlib to visualize the relationship between the support and confidence values of the association rules
import matplotlib.pyplot as plt
plt.scatter(rules['support'], rules['confidence'], alpha=0.2,color='brown')
plt.xlabel('support')
plt.ylabel('confidence')
plt.title('Support vs Confidence')
plt.show()

In [ ]:
# creates a scatter plot to visualize the relationship between the support and lift
plt.scatter(rules['support'], rules['lift'], alpha=0.2,color='orange')
plt.xlabel('support')
plt.ylabel('lift')
plt.title('Support vs Lift')
plt.show()

In [ ]:
# Sets up the environment variables for Java and Spark, initializes the findspark library
# Creates a new SparkSession for a PySpark application named 'fpgrowth'.
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName('fpgrowth') \
    .getOrCreate()

spark

In [ ]:
# Imports necessary libraries, creates a Spark DataFrame from the existing pandas DataFrame (data)
# Removes duplicate entries, groups the data by 'SalesTransactionID', aggregates the 'SalesItem' column into a list
# Sorts the resulting DataFrame by 'SalesTransactionID'
from google.colab import files
from pyspark.sql import functions as F
from pyspark.ml.fpm import FPGrowth
import pandas


sparkdata = spark.createDataFrame(data)
basketdata = sparkdata.dropDuplicates(['SalesTransactionID', 'SalesItem']).sort('SalesTransactionID')
basketdata = basketdata.groupBy("SalesTransactionID").agg(F.collect_list("SalesItem")).sort('SalesTransactionID')

In [ ]:
#Frequent Pattern Growth – FP Growth is a method of mining frequent itemsets
fpGrowth = FPGrowth(itemsCol="collect_list(SalesItem)", minSupport=0.006, minConfidence=0.006) 
model = fpGrowth.fit(basketdata)

# Display frequent itemsets.
model.freqItemsets.show()
items = model.freqItemsets
# Display generated association rules.
model.associationRules.show()
rules = model.associationRules
# transform examines the input items against all the association rules and summarize the
# consequents as prediction
model.transform(basketdata).show()
transformed = model.transform(basketdata)

In [ ]:
# Convert the Spark DataFrame back to a Pandas DataFrame using Arrow
result_pdf = items.select("*").toPandas()
result_pdf.head()

In [ ]:
result_pdf.to_excel('result_pdfItemsFreq.xlsx')

In [ ]:
rules_pdf = rules.select("*").toPandas()
rules_pdf.head()

In [ ]:
rules_pdf.to_excel('rules_pdfAnteConseConfLift.xlsx')

In [ ]:
transformed_pdf = transformed.select("*").toPandas()
transformed_pdf.head()

In [ ]:
transformed_pdf.to_excel('transformed_pdfSalesTransactionIDCollectListPred.xlsx')